/* :root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #f4623a;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #2596be;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 25, 135, 84;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0)
    );
    --bs-body-font-family: Merriweather, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
} */
* {
    /* font-family: "Cairo", sans-serif !important; */
}
/* #mainNav.navbar-shrink {
    background-color: transparent;
}

#mainNav.navbar-shrink .navbar-brand {
    color: white;
}
#mainNav.navbar-shrink .navbar-brand:hover {
    color: #2b505e !important;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: white;
}
#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #2b505e !important;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #2b505e !important;
}

.btn-primary {
    background-color: var(--bs-primary) !important;
}
hr.divider {
    background-color: var(--bs-primary) !important;
}
.bg-primary {
    background-color: var(--bs-primary) !important;
}
input:hover {
    border-color: var(--bs-primary) !important;
} */
header {
    padding-top: 10%;
}
.head-btn {
    border-radius: 30%;
    text-decoration: none;
    padding: 10px;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    background-color: rgb(0, 204, 255);
    color: white;
}
.nav-link:hover {
    border-color: var(--bs-primary) !important;
}
#background-image {
    /* padding-bottom: calc(10rem - 4.5rem); */
    background: linear-gradient(
            to bottom,
            rgba(0, 102, 255, 0.35) 0%,
            rgb(0, 102, 255, 0.35) 100%
        ),
        url("../../assets2/assets/img/bg-masthead.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.6;
    /* background-color: red !important; */
}
/* header {
    height: 100vh;
} */
.head-title {
    font-weight: bold;
    font-size: 40px !important;
}
@media only screen and (max-width: 400px) {
    .head-btn {
        font-size: 12px;
    }
}
@media screen and (max-width: 992px) {
}
